{% extends "base.html" %}

{% block content %}

{% if not mypost%}
{% if blogs|length == 0%}
<p>No posts yet</p>
{%else%}
<ul>
    {%for blog in blogs%}
        <li>
            <a href='/blog?id={{blog.id}}'>{{blog.title}}</a>
            <p>{{blog.body}}</p>
        </li>
        
        {%endfor%}
    </ul>
    <hr />
{%endif%}
{%else%}
<h2>{{mypost.title}}</h2>
<p>{{mypost.body}}</p>
{%endif%}

    <!-- <h1>Build Your Blog!</h1>
    <form method='post'>
        <label>
            Title for New Blog:
            {{b_id}} -->
            <!-- <input type="text" name='post_titles' /> -->
             <!-- <input type="text" name='blog_title' />
            
        </label>
        <span class="error">{{title_error}}</span>
        <br />
        <br />
        <br />
        <div>
        <label>
            <div>Your New Blog:</div>   -->
            <!-- <textarea name='post_body' type = "text" rows="10" cols="30">{{post_body}}</textarea> -->
            <!-- <textarea name='blog_body' type = "text" rows="10" cols="30">{{post_body}}</textarea>
        </label>
    </div><span class="error">{{body_error}}</span> 
    <br />
    <br />
    <br />
    <div>
    <input type="submit" value='Add Entry' />
    </div>    
    </form> -->

    <!-- <hr /> -->

{% endblock %}