<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="../css/index.css"> -->
        <style type="text/css">
            .error {
                color: red;
                        }
            div{
                text-align: center;
                }
        </style>
        <title>Build a Blog</title>

    </head>
    <body>

            <h4>
                <a href="/blog">Main blog Page</a>
                <a href="/newpost">Add a Blog Entry</a>
            </h4>
        <div>
            <h1>Build a Blog</h1>
        </div>

<hr />
        <!--  -->

<p>heidi you are beautiful.</p>


    </body>
</html>
