{% extends "base.html" %}
<style>
            .error {
            color: red;
        }
</style>
{% block content %}

<a href='/index' style='margin-right: 10px;'>Home Page</a>
<!-- <a href='/blogs' style='margin-right: 10px;'>Main Blog Page</a> -->
<a href='/newpost' style='margin-right: 10px;'>Create New Entry</a>
<!-- <a href='/login' style='margin-right: 10px;'>Login</a> -->
<!-- <a href='/signup'>Sign-Up</a> -->

<br><br>

<h1 style='text-align: center; color: blue;'>Add Your New Post</h1>

<hr />

<form action="/newpost" method='POST'>
    <label>
        New Entry:
        <br><br>
        <!-- <input type="text" name='blog' placeholder="Enter Blog Title" value='{{blog_title}}' /> -->
        <input type="text" name='blog' value='{{blog_title}}' />
    </label>

    <span class="error">{{title_error}}</span>
    <span class="error">{{body_error}}</span>
    <br><br>
    <label>Content:
            <br><br> 
        <textarea rows="20" cols="70" name="blogbody"> {{blog_body}}</textarea>
        <!-- <textarea rows="20" cols="70" name="blogbody" placeholder="Enter blog/review here:">{{blog_body}}</textarea> -->
    </label>

    
    <br><br>

    <input type="submit" value='Add Entry' />
</form>

{% endblock %}